.itembox 
  = link_to "","#"
  .item__content
    .itembox
      .itembox__photo
        = image_tag 'http://www.ashiya-taikyo.jp/information/wp-content/uploads/2017/08/0d40a5e4a645fc6b96e767d64ac0878e-1.png',alt:''
      .itembox__body
        .itembox__name
          %ul
            %h1
              題名
            %h2
              夢前卓球大会
          %ul
            %h1
              日付
            %h2
              2020/3/1
          %ul
            %h1
              場所
            %h2
              兵庫県
              姫路市
          %ul
            %h1
              締切
            %h2
              2020/2/16
